<h1>Add Advert</h1>

<form action="/adverts" method="POST">

  <p>
    <label for="description">Description</label>
    <br>
    <input type="text" id="description" name="description">
  </p>

  <p>
    <label for="phone_number">Phone Number</label>
    <br>
    <input type="text" id="phone_number" name="phone_number">
  </p>

  <input type="submit" value="Post Advert">
</form>
