<h1>Add Comment</h1>

<form action="/adverts/<%= advert_id %>/comments" method="POST">

  <p>
    <label for="contents">Contents</label>
    <br>
    <input type="text" id="contents" name="contents">
  </p>

  <input type="submit" value="Post Comment">
</form>
